/* Police */
html, body{
  font-family: 'Raleway', sans-serif;    
  color: black;
  max-width: 1400px;  
  margin: 0 auto;
}

/* Classes Flexbox*/
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.flexAround{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumnCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.flexColumnAround{
  display: flex;
  flex-direction: column;
  justify-content: space-around;  
}

.flexColumnBetween{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.flexWrap{
  flex-wrap: wrap;
}




.liensFlex{   /* Espacement entre les liens du menus*/

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

nav li:first-child {
  margin-right: 67px;
}

.borderTop1{
  position: absolute;
  border-top: 2px solid white;
  width: 162px;
  transition: all 0.2s;
  margin-top: -33px;   
  padding-top: 32px;
  text-align: center;
}

.borderTop2{
  position: absolute;
  border-top: 2px solid white;
  width: 90px;
  transition: all 0.2s;
  margin-top: -33px;   
  padding-top: 32px;
  text-align: center;
}


nav a:hover {  /*Ajoute une bordure et un changement de couleur sur hover*/   
  border-top-color:  #0065FC;     
}

nav ul{   /*Enlève les décorations du menu*/
  list-style-type: none; 
  padding-top: 1%;
}

nav a{
  text-decoration: none;
  color: inherit;
}

.logoPadding{  /* Ajoute du padding pour que le logo et le menu soit au même niveau*/
  padding-top: 31px;
}

.sizeLogo{
  width: 61px;
  height: 19px;
}

.navFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}


/*Header*/

.searchBorder{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}

.iconSize{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 50px;
  height: 50px;
  border-radius: 10px 0 0 10px;
} 

.recherche{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding-left: 20px;
}

h1{
  font-size: 22px;
}

::placeholder { 
  color: black;
  opacity: 1; 
}

/* Enlève le rectangle de recherche*/
input:focus {  
  outline: none;
}

.greyBack{
  background-color: #f2f2f2;
}

.borderNone{
  border: none;
}

.buttonSearch{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  background-color: #0065FC;
}

/*Enlève l'underline d'un lien */
.textDecoration{
  text-decoration: none;
}



/*Filtres*/

.filtre{
  display: flex;
  align-items: center; 
  margin-top: 50px;
  margin-bottom: 40px;
}

.margeTitre{
  margin-right: 20px;
}

.filtreTextIcon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #d9d9d9;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filtreIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0 0 25px;
  width: 52px;
  height: 52px;
  color: #0065FC;  
}

.filtreText{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;  
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
  font-weight: bold;
}

.filtreTextIcon:hover > .filtreText {
  color: #0065FC;
  background-color: #DEEBFF
}

.filtreTextIcon:hover > .filtreIcon {
  color: #0065FC;
  background-color: #DEEBFF;
}

.info{
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}

.blueColor{
  color: #0065FC;
}

.parentIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  margin-right: 11px;
}


/*Hébergements*/

.flexHebergement{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.lodgingBloc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  flex: 2; 
  width: 880px;
  margin-right: 20px;  
  border-radius: 20px; 
  background-color: #f2f2f2;
}

.lodgingCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;  
  margin-right: 1%;
}

.cartHebergement {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 30px;
}

.sizeImageHebergement{
  width: 246px;
  height: 124px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.marginLeftCard{
  margin-left: 1%;
}

.bloc2{
  margin-top: 10px;
}

.lodgingCardDetails{
  width: 100%;
  padding: 2%;
}

.blueStar{
  color: #0065FC;
}

.greyStar{
  color: #F2F2F2;
}

.texteGras{
  font-weight: bold;
}

.afficherPlus{
  font-weight: bold;
  padding-bottom: 32px;
}

.cardDecorationNone{
  text-decoration: none;
  color: inherit;
}


/* Hébergements populaires*/


.blocPopulaire{
  height: 667px;   
  width: 343px; 
  margin-left: 20px;
  border-radius: 10px;
  padding-left: 37px;
  padding-right: 40px;
  padding-top: 42px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.heightPopulaire{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -11px;
}

.sizeImagePopulaire{
  width: 137px;
  height: 144px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}

.cartHebergementPopulaire {
  display: flex;  
  align-items: center;
  background-color: white;
  width: 343px;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit;
}

.blocPopulaire12{
  margin-bottom: 33px;
}

.cubeDetailsPopulaires{
  width: 60%;
  padding-left: 5%;
}

/*
.card {
  display: flex;
  border-radius:20px;
  margin-bottom: 10px;
  width: 35%;
}*/

.paddingLeft {
  padding-left: 15px;
}

.flexNoDecoration{
  display: flex;
  justify-content: space-around;  
  text-decoration: none;
  color: inherit;
}


/*Activités*/ 

.activités{
  margin-top: 60px;
  margin-bottom: 61px;
}

.blocActivités{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
}

.imgActivités{
  width: 302px;
  height: 389px;
  border-radius: 20px  20px 0 0;  
}

.texteActivités{
  height: 56px;
  padding-left: 19px;  
  border-radius: 0px 0px 20px 20px;  
}

.ombreBlocActivités{
  box-shadow: #f2f2f2 0px 7px 29px 0px;
}

/*Footer*/

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 225px;
  margin-top: 61px;  
  background-color: #f2f2f2;
}

.footerColumn1{
  height: 150px;
  margin-left: 5%;
}

.footerColumn2{
  height: 150px;
}

.footerColumn3{
  height: 150px;
  margin-right: 27%;
}




/* Media Queries Tablette*/ 

@media screen and (min-width: 768px) and (max-width: 991px) {

  body {
    margin-right: 72px;
    margin-left: 72px;
  }

  .liensFlex{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
  }

  .lodgingBloc {
    width: 90%;      
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;      
    margin-right: 0px;  
    margin-bottom: 50px;
    border-radius: 20px; 
    background-color: #f2f2f2;
    
  }

  .flexReactiv{
    display: flex;
  }

  .blocPopulaire{
    height: 278px;   
    width: 90%; 
    margin-left: 0px;
    border-radius: 10px;
    padding-left: 37px;
    padding-right: 40px;
    padding-top: 42px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
  }

  .cartHebergement {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 30px;
    width: 30%;
  }
  

  .lodgingCardDetails{
    padding-left: 10px;
  }

  .sizeImageHebergement {
    width: 100%;
    height: 124px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }

  .marginHebergement{
    margin: 6px;
  }

  .paddingStar{
    padding: 6px;
  }

  .cartHebergementPopulaire {
    display: flex;  
    align-items: center;
    background-color: white;
    width: 90%;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 30px;
    text-decoration: none;
    color: inherit;
  }

  .navPadding{
    padding-bottom: 2em;
    width: 90%;
  }

  .sizePopulaires{  
    height: 648px;   
    width: 90%; 
    margin-left: 20px;
    border-radius: 10px;
  }

  .flexHebergement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .imgActivités{    
    width: 182px;
    height: 211px;
    border-radius: 20px  20px 0 0;  
  }
}