/* Police */
html, body{
  font-family: 'Raleway', sans-serif;    
  color: black;
  padding: 10px;
}

/* Classes Flexbox*/
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.flexAround{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Espacement entre les liens du menus*/
.linkSpacing{
  padding-left: 50px;  
  padding-right: 50px;  
}

nav li:first-child {
  margin-right: 50px;
}
nav li:last-child {
  margin-left: 50px;
}


/*Ajoute une bordure et un chagement de couleur sur hover*/   
nav li:hover {
  color: #0065FC;
  border-top: 1px solid #0065FC;   
  margin-top: -55px;   
  padding-top: 54px;      
}

/*Enlève les décorations du menu*/
nav ul{
  list-style-type: none; 
  padding-top: 1%;
}

nav a{
  text-decoration: none;
  color: inherit;
}

/* Ajoute du padding pour que le logo et le menu soit au même niveau*/
.logoPadding{
  padding-top: 31px;
}

/*Header*/

.searchBorder{
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}

.iconSize{
  width: 50px;
  height: 50px;
  border-radius: 10px 0 0 10px;
} 

.recherche{
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.greyBack{
  background-color: #f2f2f2;
}

.blueBack{
  background-color: #0065FC;
}

.borderNone{
  border: none;
}

.paddingSearch{
  padding-left: 20px;
}

.buttonSearch{
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

/*Enlève l'underline d'un lien */
.textDecoration{
  text-decoration: none;
}

/*Filtres*/
.filtre{
  display: flex;
  align-items: center;  
}

.margeFiltre{
  margin-top: 50px;
  margin-bottom: 40px;
} 

.margeTitre{
  margin-right: 20px;
}

.filtreTextIcon{
  border: 2px solid #d9d9d9;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filtreIcon{
  border-radius: 25px 0 0 25px;
  width: 52px;
  height: 52px;
  color: #0065FC;
  ;
}

.filtreText{
  height: 50px;  
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.filtreTextIcon:hover > .filtreText {
  color: #0065FC;
  background-color: #DEEBFF
}

.filtreTextIcon:hover > .filtreIcon {
  color: #0065FC;
  background-color: #DEEBFF;
}

.info{
  display: flex;
  align-items: center;
}

.blueColor{
  color: #0065FC;
}

.parentIcon{
  width: 24px;
  height: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  margin-right: 11px;
}